.personReport {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
    background: rgba(255, 255, 255, 0.97);
    overflow: scroll;

    .personReportInner {
        width: 80%;
        margin: 20px auto;

        min-width: 300px;
        max-width: 500px;
    }
}


